```json
{
  "openapi": "3.0.1",
  "info": {
    "title": "PromptLab API",
    "description": "LLM Proxy and Management API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.promptlab.ai"
    }
  ],
  "paths": {
    "/v1/smart/chat/completions": {
      "post": {
        "description": "Smart routing between different LLM providers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": ["model", "messages"],
        "properties": {
          "model": {
            "type": "string",
            "description": "ID of the model to use"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "client": {
            "type": "object",
            "properties": {
              "user": {
                "type": "string",
                "description": "End user identifier for tracking"
              }
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["system", "user", "assistant"]
          },
          "content": {
            "type": "string"
          }
        }
      }
    }
  }
}
```